dev.env
.git
.vs
bin
obj
publish
appsettings.Development.json
/Properties/PublishProfiles
/log*
*.user
/Log
TaskStorm/obj
TaskStorm/packages
TaskStorm/bin
/TaskStorm.API/bin
/TaskStorm.API/obj
/TaskStorm.API/packages
/TaskStorm.Tests/obj
/TaskStorm.API/dev.env
/TaskStorm.API/uploads/projects
/TaskStorm.Tests/bin
/TaskStorm.Tests/dev.env
