**/bin/
**/obj/

**/publish/

.git
.gitignore

.vs/
.vscode/
*.user
*.suo
*.sln.dotSettings

docker-compose*
.dockerignore
.github/
.gitattributes

*.env
*.env.*
appsettings.Development.json
**/LocalServerStorage/
**/*.db
**/*.db-journal

logs/
*.log
npm-debug.log*
beta-data/
